@import '../../themes/_variables';

.story-card {
  width: 800px;
  margin: 15px 25px;
  color: $text-primary;
  text-align: left;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);

  &:hover {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
  }
}

.story-card__header {
  padding: 15px 15px 20px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    border: 1px solid black;
  }

  .story-card__header-text {
    margin-right: 30px;
    color: $text-primary;
    font-size: 24px;

    .story-card__header-title {
      font-weight: bold;
      color: $title-secondary;
      transition: all 0.3s;

      &:hover {
        color: $link-hover-blue;
      }
    }

    .story-card__header-author {
      margin: 15px 0px 0px 0px;
      font-size: 16px;
      font-style: italic;
    }
  }

  .story-card__header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .story_card__header-toggle {
      font-size: 24px;
    }
  }
}

.story-card__body {
  border: 1px solid lightgrey;

  .story-card__body-no-comments-message {
    text-align: center;
    font-size: 18px;
  }

  .story-card__body-comments-title {
    text-align: center;
    font-size: 24px;
  }

  .story-card__body-text {
    margin: 0px 50px;
    padding: 20px 0px;
    border-bottom: 2px solid grey;
  }
}

// Tablet view
@media only screen and (max-width: 960px) {
  .story-card {
    width: 80%;
  }
}

// Mobile view
@media only screen and (max-width: 600px) {
  .story-card {
    width: 90%;
    margin: 15px 10px;
  }

  .story-card__header {
    .story-card__header-text {
      font-size: 16px;

      .story-card__header-author {
        font-size: 14px;
      }
    }
  }

  .story-card__body {
    .story-card__body-no-comments-message {
      text-align: center;
      font-size: 16px;
    }

    .story-card__body-comments-title {
      text-align: center;
      font-size: 20px;
    }

    .story-card__body-text {
      margin: 0px 20px;
      padding: 15px 0px;
      font-size: 14px;
    }
  }
}