$title-primary: #2c3096;
$title-secondary: #2d3842;

$text-primary: #626d84;
$link-hover-blue: #5f49de;

$background-white: #FFFFFF;
$background-whitesmoke: #f8f9f8;
$background-grey: #2d3842;
$background-green: #00d991;